.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  @media screen and (max-width: 1200px) {
    padding: 1rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.logo {
  line-height: 1.5rem;
  height: min-content;
}

.links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}