.userList {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 6rem 0;

  @media screen and (max-width: 1200px) {
    padding: 6rem 1rem;
  }
}

.newUserForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @media screen and (max-width: 1200px) {
      padding: 0 1rem;
      flex-direction: column;
      gap: 1rem;
    }
  }
}