.filter {
  position: fixed;
  top: 3.5rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  background: var(--COLOR_WHITE_LIGHT);
  border-bottom: 2px solid var(--COLOR_GRAY_LIGHT);

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }

  .searchInput {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
  }

  @media screen and (max-width: 360px) {
    flex-direction: column;
  }
}

.clientList {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-top: 1rem;

  @media screen and (max-width: 400px) {
    padding: 4rem 1rem;
  }
}
