.debitTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  padding: 7rem 0;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    padding: 7rem 1rem;
  }
}
