.updateClientForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding: 4rem 0 2rem;

  >div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
  }

  .smallInput {
    display: flex;

    div {
      display: flex;
      flex-direction: column;
      max-width: fit-content;
    }
  }

  .buttons {
    flex-direction: row;
    gap: 1rem;
  }
}

.sales {
  margin-bottom: 1rem;

  .salesTitle {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  .sale {
    cursor: pointer;
    border: 1px solid var(--COLOR_PRIMARY_NORMAL);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    .head {
      display: flex;
      justify-content: space-between;
    }

    .preview {
      display: flex;
      padding-top: 1rem;
      justify-content: space-between;
    }

    .status {
      background: var(--COLOR_WHITE_LIGHT);
      padding: 0 1rem;
      border-radius: 0.3rem;
      color: red;
    }

    .paid {
      color: green;
    }

    &:hover {
      background: var(--COLOR_GRAY_LIGHT);
    }
  }
}