.sales {
  margin: 1rem 0;

  .sale {
    cursor: pointer;
    border: 1px solid var(--COLOR_PRIMARY_NORMAL);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto;

    .head {
      display: flex;
      justify-content: space-between;
    }

    .preview {
      display: flex;
      padding-top: 1rem;
      justify-content: space-between;
    }

    .status {
      background: var(--COLOR_WHITE_LIGHT);
      padding: 0 1rem;
      border-radius: 0.3rem;
      color: red;
    }

    .paid {
      color: green;
    }

    &:hover {
      background: var(--COLOR_GRAY_LIGHT);
    }
  }
}