.saleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  padding: 6rem 0 2rem;

  >div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 850px;
  }

  .smallInput {
    display: flex;

    div {
      display: flex;
      flex-direction: column;
      max-width: fit-content;
    }
  }

  .products {
    padding: 1rem 0;

    h6 {
      padding-bottom: 0.5rem;
    }

    >div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow-x: auto;

      .product {
        display: flex;
        width: 100%;
        gap: 1rem;
  
        div{
          display: flex;
          align-items: center;
          gap: 0.5rem;

          label {
            min-width: max-content;
          }

          .productName {
            min-width: 20rem;
          }
  
          .productCost {
            width: 6rem;
          }
  
          .productValue {
            width: 6rem;
          }
        }
      }
    }

    .addProduct {
      padding-top: 1rem;
      max-width: 100%;
    }

    .totals {
      padding-top: 1rem;
    }
  }

  .buttons {
    flex-direction: row;
    gap: 1rem;
  }

  @media screen and (max-width: 400px) {
    padding: 6rem 1rem;
  }
}