.nav {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  background: var(--COLOR_WHITE_LIGHT);
  padding: 1rem 0;
  padding-right: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding-right: 1rem;

  .sandwich {
    display: none;
    z-index: 1;
    flex-direction: column;
    gap: 4px;

    div {
      width: 2rem;
      height: 4px;
      background: var(--COLOR_PRIMARY_DARK);
      transition: 0.5s;
    }
  }

  .x {
    .line1 {
      transform-origin: right;
      transform: rotate(-45deg);
      width: 69%;
    }

    .line2 {
      visibility: hidden;
      opacity: 0;
    }

    .line3 {
      transform-origin: right;
      transform: rotate(45deg);
      width: 69%;
    }
  }

  @media screen and (max-width: 400px) {
    .desktop {
      display: none;
    }

    .sandwich {
      display: flex;
    }
  }

}

.logo {
  line-height: 1.5rem;
  height: min-content;
}