.nav {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  background: var(--COLOR_WHITE_LIGHT);
  padding: 1rem 0;
  padding-right: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding-right: 1rem;
}

.logo {
  line-height: 1.5rem;
  height: min-content;
}

.links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}