.filter {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 3.5rem;
  padding: 1rem 0;
  gap: 1rem;
  background: var(--COLOR_WHITE_LIGHT);
  border-bottom: 2px solid var(--COLOR_GRAY_LIGHT);

  .filterType {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 400px) {
      flex-direction: column;
      gap: 1rem;
    }

  }

  @media screen and (max-width: 400px) {
    flex-direction: column;
    gap: 1rem;

    .searchInput {
      justify-content: space-between;
    }
  }
}

.saleTable {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 8rem 0;

  @media screen and (max-width: 400px) {
    padding: 18rem 1rem;
  }
}