.dropdown {
  position: relative;
  cursor: pointer;
  background: var(--COLOR_WHITE_NORMAL);
  user-select: none;

  &:hover {
    background: var(--COLOR_GRAY_LIGHT);
  }
}

.options {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  transform: translate(-27%, 75%);
  background: var(--COLOR_WHITE_DARK);
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;

  @media screen and (max-width: 400px) {
    transform: translate(0, 40%);
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}