.input,
.textarea {
  height: 2rem;
  border: var(--COLOR_PRIMARY_NORMAL) solid 1px;
  border-radius: 0.3rem;
  padding: 0 0.5rem;
}

.textarea {
  padding: 0.5rem;
  height: 80px;
}

.divider {
  width: 100%;
  height: 3px;
  background: linear-gradient(110deg, var(--COLOR_GRAY_LIGHT), var(--COLOR_PRIMARY_DARK));
  margin: 2rem 0;
}

.link {
  font-weight: bold;
  position: relative;
  color: var(--COLOR_BLACK_DARK);
  transition: 0.3s;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    left: 50%;
    height: 2px;
    bottom: -1.2rem;
    background: var(--COLOR_PRIMARY_NORMAL);
    transition: 0.3s;
  }

  &:hover {
    color: var(--COLOR_PRIMARY_NORMAL);
  }

  &:hover::after {
    width: 80%;
    left: 10%;
  }
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
  height: auto;
}

.title {
  font: 700 var(--title-font-size) 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smooothing: auto;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: var(--subtitle-font-size);
}

.grid {
  display: grid;
}

.smallText {
  font: 400 var(--subtitle-font-size) var(--body-font);
  color: var(--text-color);
}